@model Blood_Donation_Project.Models.MedicalForm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicalForm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donor_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donor_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nurse_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nurse_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Form_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
